@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body,
#root,
html {
  background-color: hsl(243, 96%, 9%);
  overflow-x: hidden;
}

.top_title {
  font-family: "Bricolage Grotesque", sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 3rem;
}

main {
  margin: 1rem auto;
  width: 100vw;
  padding: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

main .temperature_wrapper {
  flex: 1 1 40rem;
}

main .hourly_forecast_wrapper {
  flex: 1 0 20rem;
  background-color: peru;
}

main .today {
  background-image: url(/src/assets/images/bg-today-large.svg);
  background-size: cover;
  width: 100%;
  height: 22rem;
  color: hsl(0, 0%, 100%);
  padding: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1rem;
}

main .today h1 {
  font-size: 4rem;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .today h1 img {
  max-width: 6rem;
}

main .temperature_info_wrapper {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

main .daily_forecast_wrapper h2 {
  color: hsl(0, 0%, 100%);
}

main .daily_forecast_wrapper .daily_forecast_map {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .hourly_forecast_wrapper {
  border-radius: 1rem;
  padding: 1.25rem;
  background-color: hsl(243, 27%, 20%);
}

main .hourly_forecast_wrapper header {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .hourly_forecast_wrapper header p {
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
}

main .hourly_forecast_wrapper header button {
  height: 100%;
  padding: .2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: hsl(243, 23%, 30%);
  color: hsl(0, 0%, 100%);
  border: 1px solid transparent;
  border-radius: .4rem;
}

main .hourly_forecast_wrapper header button img {
  max-width: 1rem;
}

main .hourly_forecast_wrapper .hourly_map {
  margin-top: 1rem;
  height: calc(95% - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
