#search_container {
  max-width: 100%;
  margin: 2rem auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 5vw;
}

#search_container .input_wrapper {
  flex: 1 1 25rem;
  width: 25rem;
  background-color: hsl(243, 23%, 24%);
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
}

#search_container .input_wrapper input {
  cursor: pointer;
  padding: 0.6rem;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  max-height: 2.5rem;
  width: 100%;
}

#search_container .input_wrapper input::placeholder {
  color: hsl(250, 6%, 84%);
}

#search_container button {
  cursor: pointer;
  flex: 1 1;
  min-width: fit-content;
  background-color: hsl(233, 67%, 56%);
  padding: 1rem 1.4rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: .4s ease background-color;
}

#search_container button:hover {
  background-color: hsl(248, 70%, 36%);
}